@import './utils/variables';
@import './utils/placeholder';
@import './utils/mixin';
@import './base/reset';
@import './base/base';
@import './components/header-page';
@import './components/hero-page';
@import './components/features-page';
@import './components/description-page';
@import './components/team-page';
@import './components/clients-page';
@import './components/footer-page';
@import './components/footer-form'
