
// Color variables
$titleTextColor: #212121;
$secondaryTextColor: #757575;
$primaryLightColor: #fff;
$acentColor: #2196f3;
$secondaryLightColor: rgba(255, 255, 255, 0.6);
$primaryBackgroundColor: #e5e5e5;
$secondaryBackgroundColor: #2f303a;
$logoDarkColor: #000;

// Font variables
$primeryFontFamily: 'Roboto', sans-serif;
$secondaryFontFamily: 'Releway', sans-serif;


